@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(bg-pattern-bottom.svg), linear-gradient(to bottom, #00c4cc, #00a1b5);
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

}

.container {
    background-color: white;
     width: clamp(400px, 30vw, 450px);
    text-align: center;
    border-radius: 20px;
    background-image: url(bg-pattern-card.svg);
    background-repeat: repeat-x;
    overflow: hidden;

}

.picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 80px;
    border: 5px solid white;
}

.line {
    width: 100%;
    font: 1em sans-serif;
    opacity: 0.5;
}

.info {
    font-size: 14px;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    margin-top: 30px;
}

.nu {
    margin: none;

}
span {
    color: hsl(227, 10%, 46%);
}

.stat {
    color: hsl(229, 23%, 23%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

.number {
    margin-left: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    opacity: 0.9;
    margin-bottom: -10px;
}

.sp {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    opacity: 0.9;
}

.london {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    margin-top: 0;
    opacity: 0.9;
}




